<!DOCTYPE html>
<html>
  <head>
    <title>My blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<script   src="https://code.jquery.com/jquery-3.1.0.slim.js" integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw=" crossorigin="anonymous"></script>
<script src="app.js"></script>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <!-- <script type="text/javascript" src="script.js"></script> -->
  </head>
  <body class="container" style="background-color:powderblue;">
    <br>
    <div id="container", style="text-align:center">
      <button type="button home-button" id="button4" ><a href="http://localhost:3000/portfolio">Home</a></button>
    </div>
    <!-- http://getbootstrap.com/components/#navbar -->
          <!-- Collect the nav links, forms, and other content for toggling -->
                <h3 class="text-success" style="text-align:center">Edwin Velazquez's Blog</h3>
  <br><br>
    <div class="row">
      <br>
      <div class="col-md-12">
        <br><form id="search_form" action="/blog" method="post">
          <input id = "name" type="text" class="form-control" placeholder="Enter Name" >
          <input id = "text" type="text" class="form-control" placeholder="Enter Message">
          <span class="input-group-btn">
        <button onclick="submitPost()" class="btn btn-default" type="submit">Submit</button>
      </span>
      </form>
      </div>
    </div>
</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-success" style=padding-left:10px;>Posts</h3>
        <table class="table">
          <tbody>
            <thead>
              <tr>
                <td>Name</td>
                <!-- <td>Title</td> -->
                <td>Text</td>
                <!-- <td>Date</td> -->
              </tr>
            </thead id="posts_table">
          </tbody>
        </table>
<h4><%= blogtable[0].name%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= blogtable[0].text%></h4>
<h4><%= blogtable[1].name%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= blogtable[1].text%></h4>
        <!-- &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= blogtable[0].name%>&nbsp&nbsp&<%= blogtable[0].name%>nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= blogtable[0].text%> -->
      </div>
      <br>
      <br>
      <div>
         <ul>
           <% for(var i = 0; i < blogtable.length; i++) { %>
             <li>
             <%= JSON.stringify(blogtable[i]) %></li>
                <% } %>    </ul>
              </div>
    </div>
    </div>
  </body>
</html>
